.banner { grid-area: banner; }
.menu { grid-area: menu; }
.weeks { grid-area: nav; }
.timetable { grid-area: timetable}
main { grid-area: main; }
.refs { grid-area: aside; }
footer { grid-area: footer; }

.wrapper {
  display: grid;
  grid-template-columns: 1.5fr 4fr 1.5fr;
  grid-template-areas:"banner banner banner""menu menu menu""nav timetable aside""nav main aside""footer footer footer";
  align-items: start;
}

/* nav menu */

.weeks{
  text-align: center;
  list-style: none;
  border: 3px;
  border-style:groove;
  border-color: #333;
  margin: 5px;
  position: sticky;
  top: 20px;
}

.weeks p{
  padding: 5px;
  margin: 5px;
  background-color: #999;
  border: 3px;
  border-style:groove;
  border-color: #333;
  border-radius: 10px;
}
.weeks a{
  color:black;
}
.weeks a:hover{
  color: aqua;
}

/* time table */
.timetable{
  border: 3px;
  border-style:groove;
  border-color: #333;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}
.timetable table{
  margin: auto;
  border: 2px solid #333;
  table-layout: fixed;
  border-radius: 5px;
  background-color: #ddd;
}
.timetable td {
  border: 1px solid #333;
}
.timetable td:empty{
  background-color: #999;
}
.ttdays, .tttime{
  color: aliceblue;
  background-color: black;
  padding: 10px;
}


/* mobile overide */
@media (max-width: 750px) {
  *{
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper {
    display: grid;
    grid-template-areas:"banner""menu""nav""main""aside""footer";
  }
  .timetable{
    display: none;
  }
  .menu li{
    display: block;
  }
}
