.banner { grid-area: banner; }
.menu { grid-area: menu; }
.weeks { grid-area: nav; }
main { grid-area: main; }
.refs { grid-area: aside; }
footer { grid-area: footer; }

.wrapper {
    display: grid;
    grid-template-areas:"banner""menu""nav""main""aside""footer";
}

/** 
########## nav menu ##########
**/

.weeks{
    text-align: center;
    list-style: none;
    border: 3px;
    border-style:groove;
    border-color: #333;
    margin: 5px;
  }
  
  .weeks p{
    padding: 5px;
    margin: 5px;
    background-color: #999;
    border: 3px;
    border-style:groove;
    border-color: #333;
  }
  .weeks a{
    color:black;
  }
  .weeks a:hover{
    color: aquamarine;
  }

@media (min-width: 750px) {
    .wrapper {
        grid-template-columns: 2fr 4fr;
        grid-template-areas:"banner banner""menu menu""nav main""aside main""footer footer";
    }
    .menu li{
        display: inline-block;
        width: 200px;
        padding: 10px;
    }
}


@media (min-width: 1000px) {
    .wrapper {
        grid-template-columns: 1.5fr 4fr 1.5fr;
        grid-template-areas:"banner banner banner""menu menu menu""nav main aside""nav main aside""footer footer footer";
    }
    .menu li{
        display: inline-block;
        width: 200px;
        padding: 20px;
    }
}