.banner { grid-area: banner; }
.menu { grid-area: menu; }
.navwrap { grid-area: nav; }
main { grid-area: main; }
.refs { grid-area: aside; }
footer { grid-area: footer; }

.wrapper {
    display: grid;
    width: auto;
    grid-template-areas:"banner""menu""nav""main""aside""footer";
}
    
    

@media (min-width: 750px) {
    .wrapper {
        grid-template-columns: 2fr 4fr;
        grid-template-areas:"banner banner""menu menu""nav main""aside main""footer footer";
    }
}


@media (min-width: 1000px) {
    .wrapper {
        grid-template-columns: 1.5fr 4fr 1.5fr;
        grid-template-areas:"banner banner banner""menu menu menu""nav main aside""nav main aside""footer footer footer";
    }
}